*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Set some variables to keep code DRY */
:root{
    --aquamarine: #7FEFBD;
    --satingold: #CBA135;
    --eggshell: #F3EFE0;
    --black: #000000;
    --pakistan-green: #2A7221;
}

/* Used specific google fonts that I like */
body{
    font-family: 'Josefin Sans', sans-serif;
}

/* Got rid of text decoration in nav bar */
a:link, a:visited {
    color: var(--eggshell);
    text-decoration: none;
  }

/* Header layout, and spacing */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: var(--eggshell);
}
header > div {
    padding: 10px;
    margin: 20px;
    text-shadow: 5px 5px 10px var(--black);
}

/*Nav bar styling*/
.navbar {
    background-color: var(--black);
    padding: 15px;
}
/* Got rid of the unordered list icons */
.navbar > ul {
    list-style-type: none;
    color: var(--eggshell);
}
/* Nav bar layout */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu-item {
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
}

/* Added a hover effect to menu items */
.menu-item > a:hover {
    color: var(--satingold);
    text-shadow: 2px 2px 2px 20px var(--satingold);
    transform: scale(1.1);
}

.first_project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.first_project_item {
    width: 500px;
    background-color: var(--aquamarine);
    text-align: center;
    padding: 30px;
    margin: 20px;
}

/* Due to flexbox the site is responsive and looks good on mobile */
/* Set flex box up for the portfolio boxes */
.main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
/* portfolio box styling */
.main-flex-item {
    background-color: var(--aquamarine);
    padding: 10px;
    border: 2px solid var(--pakistan-green);
    margin: 5px;
}

.main-flex-item > img {
    margin: 5px;
    border: 2px solid var(--satingold);
}

/* hover effect on portfolio boxes */
.main-flex-item:hover {
    transform: scale(1.1);
}

/* contact section layout */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* contact section hover effect */
.contact-section-item:hover {
    transform: scale(1.2);
}

/* contact section styling and layout */
.contact-section-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    background-color: var(--eggshell);
    width: 400px;
    border: 4px solid var(--black);
}

/* contact section header style */
.contact-section-item > h2 {
    background-color: var(--aquamarine);
    padding: 10px;
    border: 3px solid var(--black);
}

/* override link auto styling */
.contact-links {
    color:var(--black);
    text-decoration:none;
}

.contact-links:visited {
    color: var(--black);
    text-decoration: none;
}

/* layout flexbox for the workhistory */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

/* styling for work history boxes */
.Work-History {
    border: 4px solid var(--black);
    max-width: 400px;
    margin: 20px;
}

.Work-History > div {
    text-align: center;
    max-width: 300px;
    margin: 30px;
    padding: 20px;
    border: 3px dotted var(--pakistan-green);
    background-color: var(--eggshell);
}

/* Created empty space at bottom of the page */

.bottom-spacer{
    height: 5%;
}

