*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --aquamarine: #7FEFBD;
    --satingold: #CBA135;
    --eggshell: #F3EFE0;
    --black: #000000;
    --pakistan-green: #2A7221;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: var(--eggshell);
}
header > div {
    /* border: 10px solid var(--black); */
    width: 33%;
    text-shadow: 10px 10px 15px var(--black);
}
/* #job-title{
    text-shadow: 10px 10px 15px var(--black);
} */

/* .flex-container {
    display: flex;
    background-color: var(--pakistan-green);
    height: 200px;
    justify-content: space-evenly;
    align-items: center;

}

.flex-container > div {
    background-color: var(--eggshell);
    margin: 5px;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} */

.navbar {
    background-color: var(--black);
}

.navbar > ul {
    list-style-type: none;
    color: var(--eggshell);
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu > li {
    padding: 5px;
    font-size: 18px;
}

