*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --aquamarine: #7FEFBD;
    --satingold: #CBA135;
    --eggshell: #F3EFE0;
    --black: #000000;
    --pakistan-green: #2A7221;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: var(--eggshell);
}
header > div {
     /* border: 10px solid var(--black); */
    /* width: 33%; */
    padding: 10px;
    margin: 20px;
    text-shadow: 5px 5px 10px var(--black);
}
/* #job-title{
    text-shadow: 10px 10px 15px var(--black);
} */

/* .flex-container {
    display: flex;
    background-color: var(--pakistan-green);
    height: 200px;
    justify-content: space-evenly;
    align-items: center;

}

.flex-container > div {
    background-color: var(--eggshell);
    margin: 5px;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} */

.navbar {
    background-color: var(--black);
    padding: 5px;
}

.navbar > ul {
    list-style-type: none;
    color: var(--eggshell);
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu-items {
    padding: 5px;
    font-size: 18px;
}

.menu-item:hover {
    color: var(--satingold);
    text-shadow: 2px 2px 2px 20px var(--satingold);
    transform: scale(1.1);
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.main-flex-item {
    background-color: var(--aquamarine);
    padding: 10px;
    border: 2px solid var(--pakistan-green);
    margin: 5px;
}

.main-flex-item > img {
    margin: 5px;
    border: 2px solid var(--satingold);
}

.main-flex-item:hover {
    transform: scale(1.1);
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-section:hover {
    transform: scale(1.2);
}
.contact-section-item {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 20px;
    text-align: center;
    background-color: var(--satingold);
    width: 400px;
    border: 2px solid var(--black);
}

.contact-section-item > h2 {
    background-color: var(--aquamarine);
    padding: 10px;
    border: 3px double var(--eggshell);
}

.bottom-spacer{
    height: 5%;
}